* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 16px; 
}

h1, h2 {
    font-family: monospace;
}

h1 {
    color: palevioletred;
    font-size: 44px;
    margin-bottom: 20px;
}

h2 {
    color: midnightblue;
    font-size: 24px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
}